/* .modal-fullscreen .modal-dialog { */
    .modal-xxl {

  max-width: 100%;
  margin: 2%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90vh;
  display: flex;
  position: fixed;
  z-index: 100000;
  border-radius: 10px;
}

.customize-pnr {
    font-size: large; 
    background-color: #e2e3e5; 
    color: black !important;
    display: inline-block;
    width : 20%
}